@charset 'UTF-8';

$breakpoints: (
  phone: 320px,
  tablet: 768px,
  desktop: 1024px,
  imac: 1768px,
);

$colors: (
  black: #000,
  white: #fff,
  empty: transparent,
);

$text-classes: false;

// 1. Variables
@import '../sassime';

.h {
  @extend %hide;
  @extend %block_tablet;
}

.s {
  @extend %block;
  @extend %hide_tablet;
}
