@charset 'UTF-8';

$breakpoints: (
  phone: 320px,
  tablet: 768px,
  desktop: 1024px,
  imac: 1768px,
);

$colors: (
  blue: #00f,
  red: #f00,
  empty: transparent,
);

$text-classes: true;

// 1. Variables
@import '../sassime';

.h {
  @extend %hide;
  @extend %color-red;
  @extend %color-blue_tablet;
  @extend %block_tablet;
}

.s {
  @extend %color-blue;
  @extend %color-red_tablet;
  @extend %block;
  @extend %hide_tablet;
}
