$display: (
  hide: none,
  flex: flex,
  block: block,
  table: table,
  inline: inline-block,
) !default;

$breakpoints: (
  phone: 320px,
  tablet: 768px,
  desktop: 1024px,
) !default;

$colors: (
  black: #000,
  white: #fff,
  grey1: #111,
  grey2: #222,
  grey3: #333,
  grey4: #444,
  grey5: #555,
  grey6: #666,
  grey7: #777,
  grey8: #888,
  grey9: #999,
  empty: transparent,
) !default;

$fonts: (
  main: 'Arial',
  header: 'Georgia'
) !default;

$fontsize: (
  12: 0.75rem,
  16: 1 rem,
  20: 1.25 rem,
  24: 1.5 rem,
  28: 1.75 rem,
  36: 2 rem,
) !default;

$colour-classes: true !default;
$text-classes: true !default;
$visual-classes: true !default;

$float: left, right !default;
$text: left, right, center, justify !default;
$position: fixed, absolute, relative, static !default;
$text-decor: underline, none, line-through !default;

$visibility: hidden, visible, collapse !default;

$text-transform: (
  capital: capitalize,
  upper: uppercase,
  lower: lowercase,
) !default;
