.color-black {
  color: #000; }

.bg-black {
  background-color: #000; }

.border-black {
  border: 1px solid #000; }

.border-t-black {
  border-top: 1px solid #000; }

.border-l-black {
  border-left: 1px solid #000; }

.border-r-black {
  border-right: 1px solid #000; }

.border-b-black {
  border-bottom: 1px solid #000; }

@media screen and (min-width: 320px) {
  .color-black_phone {
    color: #000; } }

@media screen and (min-width: 320px) {
  .bg-black_phone {
    background-color: #000; } }

@media screen and (min-width: 320px) {
  .border-black_phone {
    border: 1px solid #000; } }

@media screen and (min-width: 320px) {
  .border-t-black_phone {
    border-top: 1px solid #000; } }

@media screen and (min-width: 320px) {
  .border-l-black_phone {
    border-left: 1px solid #000; } }

@media screen and (min-width: 320px) {
  .border-r-black_phone {
    border-right: 1px solid #000; } }

@media screen and (min-width: 320px) {
  .border-b-black_phone {
    border-bottom: 1px solid #000; } }

@media screen and (min-width: 768px) {
  .color-black_tablet {
    color: #000; } }

@media screen and (min-width: 768px) {
  .bg-black_tablet {
    background-color: #000; } }

@media screen and (min-width: 768px) {
  .border-black_tablet {
    border: 1px solid #000; } }

@media screen and (min-width: 768px) {
  .border-t-black_tablet {
    border-top: 1px solid #000; } }

@media screen and (min-width: 768px) {
  .border-l-black_tablet {
    border-left: 1px solid #000; } }

@media screen and (min-width: 768px) {
  .border-r-black_tablet {
    border-right: 1px solid #000; } }

@media screen and (min-width: 768px) {
  .border-b-black_tablet {
    border-bottom: 1px solid #000; } }

@media screen and (min-width: 1024px) {
  .color-black_desktop {
    color: #000; } }

@media screen and (min-width: 1024px) {
  .bg-black_desktop {
    background-color: #000; } }

@media screen and (min-width: 1024px) {
  .border-black_desktop {
    border: 1px solid #000; } }

@media screen and (min-width: 1024px) {
  .border-t-black_desktop {
    border-top: 1px solid #000; } }

@media screen and (min-width: 1024px) {
  .border-l-black_desktop {
    border-left: 1px solid #000; } }

@media screen and (min-width: 1024px) {
  .border-r-black_desktop {
    border-right: 1px solid #000; } }

@media screen and (min-width: 1024px) {
  .border-b-black_desktop {
    border-bottom: 1px solid #000; } }

@media screen and (min-width: 1768px) {
  .color-black_imac {
    color: #000; } }

@media screen and (min-width: 1768px) {
  .bg-black_imac {
    background-color: #000; } }

@media screen and (min-width: 1768px) {
  .border-black_imac {
    border: 1px solid #000; } }

@media screen and (min-width: 1768px) {
  .border-t-black_imac {
    border-top: 1px solid #000; } }

@media screen and (min-width: 1768px) {
  .border-l-black_imac {
    border-left: 1px solid #000; } }

@media screen and (min-width: 1768px) {
  .border-r-black_imac {
    border-right: 1px solid #000; } }

@media screen and (min-width: 1768px) {
  .border-b-black_imac {
    border-bottom: 1px solid #000; } }

.color-white {
  color: #fff; }

.bg-white {
  background-color: #fff; }

.border-white {
  border: 1px solid #fff; }

.border-t-white {
  border-top: 1px solid #fff; }

.border-l-white {
  border-left: 1px solid #fff; }

.border-r-white {
  border-right: 1px solid #fff; }

.border-b-white {
  border-bottom: 1px solid #fff; }

@media screen and (min-width: 320px) {
  .color-white_phone {
    color: #fff; } }

@media screen and (min-width: 320px) {
  .bg-white_phone {
    background-color: #fff; } }

@media screen and (min-width: 320px) {
  .border-white_phone {
    border: 1px solid #fff; } }

@media screen and (min-width: 320px) {
  .border-t-white_phone {
    border-top: 1px solid #fff; } }

@media screen and (min-width: 320px) {
  .border-l-white_phone {
    border-left: 1px solid #fff; } }

@media screen and (min-width: 320px) {
  .border-r-white_phone {
    border-right: 1px solid #fff; } }

@media screen and (min-width: 320px) {
  .border-b-white_phone {
    border-bottom: 1px solid #fff; } }

@media screen and (min-width: 768px) {
  .color-white_tablet {
    color: #fff; } }

@media screen and (min-width: 768px) {
  .bg-white_tablet {
    background-color: #fff; } }

@media screen and (min-width: 768px) {
  .border-white_tablet {
    border: 1px solid #fff; } }

@media screen and (min-width: 768px) {
  .border-t-white_tablet {
    border-top: 1px solid #fff; } }

@media screen and (min-width: 768px) {
  .border-l-white_tablet {
    border-left: 1px solid #fff; } }

@media screen and (min-width: 768px) {
  .border-r-white_tablet {
    border-right: 1px solid #fff; } }

@media screen and (min-width: 768px) {
  .border-b-white_tablet {
    border-bottom: 1px solid #fff; } }

@media screen and (min-width: 1024px) {
  .color-white_desktop {
    color: #fff; } }

@media screen and (min-width: 1024px) {
  .bg-white_desktop {
    background-color: #fff; } }

@media screen and (min-width: 1024px) {
  .border-white_desktop {
    border: 1px solid #fff; } }

@media screen and (min-width: 1024px) {
  .border-t-white_desktop {
    border-top: 1px solid #fff; } }

@media screen and (min-width: 1024px) {
  .border-l-white_desktop {
    border-left: 1px solid #fff; } }

@media screen and (min-width: 1024px) {
  .border-r-white_desktop {
    border-right: 1px solid #fff; } }

@media screen and (min-width: 1024px) {
  .border-b-white_desktop {
    border-bottom: 1px solid #fff; } }

@media screen and (min-width: 1768px) {
  .color-white_imac {
    color: #fff; } }

@media screen and (min-width: 1768px) {
  .bg-white_imac {
    background-color: #fff; } }

@media screen and (min-width: 1768px) {
  .border-white_imac {
    border: 1px solid #fff; } }

@media screen and (min-width: 1768px) {
  .border-t-white_imac {
    border-top: 1px solid #fff; } }

@media screen and (min-width: 1768px) {
  .border-l-white_imac {
    border-left: 1px solid #fff; } }

@media screen and (min-width: 1768px) {
  .border-r-white_imac {
    border-right: 1px solid #fff; } }

@media screen and (min-width: 1768px) {
  .border-b-white_imac {
    border-bottom: 1px solid #fff; } }

.color-empty {
  color: transparent; }

.bg-empty {
  background-color: transparent; }

.border-empty {
  border: 1px solid transparent; }

.border-t-empty {
  border-top: 1px solid transparent; }

.border-l-empty {
  border-left: 1px solid transparent; }

.border-r-empty {
  border-right: 1px solid transparent; }

.border-b-empty {
  border-bottom: 1px solid transparent; }

@media screen and (min-width: 320px) {
  .color-empty_phone {
    color: transparent; } }

@media screen and (min-width: 320px) {
  .bg-empty_phone {
    background-color: transparent; } }

@media screen and (min-width: 320px) {
  .border-empty_phone {
    border: 1px solid transparent; } }

@media screen and (min-width: 320px) {
  .border-t-empty_phone {
    border-top: 1px solid transparent; } }

@media screen and (min-width: 320px) {
  .border-l-empty_phone {
    border-left: 1px solid transparent; } }

@media screen and (min-width: 320px) {
  .border-r-empty_phone {
    border-right: 1px solid transparent; } }

@media screen and (min-width: 320px) {
  .border-b-empty_phone {
    border-bottom: 1px solid transparent; } }

@media screen and (min-width: 768px) {
  .color-empty_tablet {
    color: transparent; } }

@media screen and (min-width: 768px) {
  .bg-empty_tablet {
    background-color: transparent; } }

@media screen and (min-width: 768px) {
  .border-empty_tablet {
    border: 1px solid transparent; } }

@media screen and (min-width: 768px) {
  .border-t-empty_tablet {
    border-top: 1px solid transparent; } }

@media screen and (min-width: 768px) {
  .border-l-empty_tablet {
    border-left: 1px solid transparent; } }

@media screen and (min-width: 768px) {
  .border-r-empty_tablet {
    border-right: 1px solid transparent; } }

@media screen and (min-width: 768px) {
  .border-b-empty_tablet {
    border-bottom: 1px solid transparent; } }

@media screen and (min-width: 1024px) {
  .color-empty_desktop {
    color: transparent; } }

@media screen and (min-width: 1024px) {
  .bg-empty_desktop {
    background-color: transparent; } }

@media screen and (min-width: 1024px) {
  .border-empty_desktop {
    border: 1px solid transparent; } }

@media screen and (min-width: 1024px) {
  .border-t-empty_desktop {
    border-top: 1px solid transparent; } }

@media screen and (min-width: 1024px) {
  .border-l-empty_desktop {
    border-left: 1px solid transparent; } }

@media screen and (min-width: 1024px) {
  .border-r-empty_desktop {
    border-right: 1px solid transparent; } }

@media screen and (min-width: 1024px) {
  .border-b-empty_desktop {
    border-bottom: 1px solid transparent; } }

@media screen and (min-width: 1768px) {
  .color-empty_imac {
    color: transparent; } }

@media screen and (min-width: 1768px) {
  .bg-empty_imac {
    background-color: transparent; } }

@media screen and (min-width: 1768px) {
  .border-empty_imac {
    border: 1px solid transparent; } }

@media screen and (min-width: 1768px) {
  .border-t-empty_imac {
    border-top: 1px solid transparent; } }

@media screen and (min-width: 1768px) {
  .border-l-empty_imac {
    border-left: 1px solid transparent; } }

@media screen and (min-width: 1768px) {
  .border-r-empty_imac {
    border-right: 1px solid transparent; } }

@media screen and (min-width: 1768px) {
  .border-b-empty_imac {
    border-bottom: 1px solid transparent; } }

.ds-hide {
  display: none; }

@media screen and (min-width: 320px) {
  .ds-hide_phone {
    display: none; } }

@media screen and (min-width: 768px) {
  .ds-hide_tablet {
    display: none; } }

@media screen and (min-width: 1024px) {
  .ds-hide_desktop {
    display: none; } }

@media screen and (min-width: 1768px) {
  .ds-hide_imac {
    display: none; } }

.ds-flex {
  display: flex; }

@media screen and (min-width: 320px) {
  .ds-flex_phone {
    display: flex; } }

@media screen and (min-width: 768px) {
  .ds-flex_tablet {
    display: flex; } }

@media screen and (min-width: 1024px) {
  .ds-flex_desktop {
    display: flex; } }

@media screen and (min-width: 1768px) {
  .ds-flex_imac {
    display: flex; } }

.ds-block {
  display: block; }

@media screen and (min-width: 320px) {
  .ds-block_phone {
    display: block; } }

@media screen and (min-width: 768px) {
  .ds-block_tablet {
    display: block; } }

@media screen and (min-width: 1024px) {
  .ds-block_desktop {
    display: block; } }

@media screen and (min-width: 1768px) {
  .ds-block_imac {
    display: block; } }

.ds-table {
  display: table; }

@media screen and (min-width: 320px) {
  .ds-table_phone {
    display: table; } }

@media screen and (min-width: 768px) {
  .ds-table_tablet {
    display: table; } }

@media screen and (min-width: 1024px) {
  .ds-table_desktop {
    display: table; } }

@media screen and (min-width: 1768px) {
  .ds-table_imac {
    display: table; } }

.ds-inline {
  display: inline-block; }

@media screen and (min-width: 320px) {
  .ds-inline_phone {
    display: inline-block; } }

@media screen and (min-width: 768px) {
  .ds-inline_tablet {
    display: inline-block; } }

@media screen and (min-width: 1024px) {
  .ds-inline_desktop {
    display: inline-block; } }

@media screen and (min-width: 1768px) {
  .ds-inline_imac {
    display: inline-block; } }

.pos-fixed {
  position: fixed; }

@media screen and (min-width: 320px) {
  .pos-fixed_phone {
    position: fixed; } }

@media screen and (min-width: 768px) {
  .pos-fixed_tablet {
    position: fixed; } }

@media screen and (min-width: 1024px) {
  .pos-fixed_desktop {
    position: fixed; } }

@media screen and (min-width: 1768px) {
  .pos-fixed_imac {
    position: fixed; } }

.pos-absolute {
  position: absolute; }

@media screen and (min-width: 320px) {
  .pos-absolute_phone {
    position: absolute; } }

@media screen and (min-width: 768px) {
  .pos-absolute_tablet {
    position: absolute; } }

@media screen and (min-width: 1024px) {
  .pos-absolute_desktop {
    position: absolute; } }

@media screen and (min-width: 1768px) {
  .pos-absolute_imac {
    position: absolute; } }

.pos-relative {
  position: relative; }

@media screen and (min-width: 320px) {
  .pos-relative_phone {
    position: relative; } }

@media screen and (min-width: 768px) {
  .pos-relative_tablet {
    position: relative; } }

@media screen and (min-width: 1024px) {
  .pos-relative_desktop {
    position: relative; } }

@media screen and (min-width: 1768px) {
  .pos-relative_imac {
    position: relative; } }

.pos-static {
  position: static; }

@media screen and (min-width: 320px) {
  .pos-static_phone {
    position: static; } }

@media screen and (min-width: 768px) {
  .pos-static_tablet {
    position: static; } }

@media screen and (min-width: 1024px) {
  .pos-static_desktop {
    position: static; } }

@media screen and (min-width: 1768px) {
  .pos-static_imac {
    position: static; } }

.fl-left {
  float: left; }

@media screen and (min-width: 320px) {
  .fl-left_phone {
    float: left; } }

@media screen and (min-width: 768px) {
  .fl-left_tablet {
    float: left; } }

@media screen and (min-width: 1024px) {
  .fl-left_desktop {
    float: left; } }

@media screen and (min-width: 1768px) {
  .fl-left_imac {
    float: left; } }

.fl-right {
  float: right; }

@media screen and (min-width: 320px) {
  .fl-right_phone {
    float: right; } }

@media screen and (min-width: 768px) {
  .fl-right_tablet {
    float: right; } }

@media screen and (min-width: 1024px) {
  .fl-right_desktop {
    float: right; } }

@media screen and (min-width: 1768px) {
  .fl-right_imac {
    float: right; } }
