@each $value in $text {
  %txt-#{$value} {
    text-align: $value;
  }
}

@each $value in $text-decor {
  %decor-#{$value} {
    text-decoration: $value;
  }
}

@each $key, $value in $text-transform {
  %#{$key} {
    text-transform: $value;
  }
}

@each $key, $value in $fonts {
  %ff-#{$key} {
    font-family: $value;
  }
}

@each $key, $value in $fontsize {
  %fs-#{$key} {
    font-size: $value;
  }
}

@each $key, $value in $fontsize {
  %lh-#{$key} {
    line-height: $value;
  }
}

@each $mode, $width in $breakpoints {
  @each $value in $text {
    %txt-#{$value}_#{$mode} {
      @include screen($mode) {
        text-align: $value;
      }
    }
  }
  @each $value in $text-decor {
    %decor-#{$value}_#{$mode} {
      @include screen($mode) {
        text-decoration: $value;
      }
    }
  }
  @each $key, $value in $text-transform {
    %#{$key}_#{$mode} {
      @include screen($mode) {
        text-transform: $value;
      }
    }
  }
  @each $key, $value in $fonts {
    %ff-#{$key}_#{$mode} {
      @include screen($mode) {
        font-family: $value;
      }
    }
  }
  @each $key, $value in $fontsize {
    %fs-#{$key}_#{$mode} {
      @include screen($mode) {
        font-size: $value;
      }
    }
  }
  @each $key, $value in $fontsize {
    %lh-#{$key}_#{$mode} {
      @include screen($mode) {
        line-height: $value;
      }
    }
  }
}
